body {
    text-align: center;
}

#contactform input[type="text"],
#contactform textarea {
    text-align: start;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f2f2f2;
}



@media (max-width: 768px) {
    #contactform input[type="text"], #contactform textarea{
        max-width: max-content;
    }
}